.grid-column-menu {
    padding: 4px;
    float:left;
}
.grid-filter-input {
    float: left;
    overflow: hidden;
    padding: 0 7px;
}
.grid-filter-input div {
    display: inline-block;
}
.grid-filter-input input, .grid-filter-input span.k-widget {
    margin: 0 5px;
}
.grid-filter-input input, .grid-filter-input div span.k-widget {
    width: 250px;
}
.grid-filter-display {
    padding: 3px 12px;
    display: none;
}
.grid-filter-display-box, .grid-filter-display-a, .grid-filter-display-b, .grid-filter-display-c {
    display: inline-block;
}
.grid-filter-display-a, .grid-filter-display-b {
    margin: 1px;
    border-radius: 3px;
    background: #f7f7f7;
    text-indent: .8em;
    line-height: 2.5em;
}
.grid-filter-display-a {
    padding: 0.2em 0;
}
.grid-filter-display-b {
    background: #e9e9e9;
}
.grid-filter-display-logic {
    font-family: courier;
    color: #aaa;
}
.grid-filter-display-close {
    padding: 0 .8em;
}
.grid-filter-input .k-i-calendar {
    left: 10px;
}
.grid-filter-input .k-datepicker {
    width: 100%!important;
    border: 0px;
    padding: 0;
}
.grid-filter-input .k-datepicker input {
    height: 2.6em;
}
